<div class="tile is-parent">
    <article class="tile is-child box">
        <p class="title">{{productName}}</p>
        <p class="subtitle">{{productPrice}}</p>
        <p>{{productDescription}}</p>
        <div class="buttons">
            <a href="/productDetails" class="button is-primary is-rounded">View</a>
            {{#if isLoggedInAsAdmin}} <!-- only available to admin -->
                <a href="/updateItem" class="button is-primary is-rounded">Update</a>
                <a class="button is-primary is-rounded">Delete</a>
            {{else}}
                <a class="button is-primary is-rounded">Add to basket</a>
                <a href="/selection" class="button is-primary is-rounded">Continue shopping</a>
            {{/if}}
        </div>
        <figure class="image is-4by3">
            <img src="{{productImage}}">
        </figure>
    </article>
</div>