<div class="container">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="box"><p>{{error}}</p></div>
            <p class="title">{{product.productName}}</p>
            <p class="subtitle">{{product.productDescription}}</p>
            <p>{{product.price}}</p>
            <br><br>
            <div class="buttons">
                <!-- <a href="/productDetails" class="button is-primary is-rounded">View</a> -->

                {{#if isLoggedInAsAdmin}} <!-- only available to admin -->
                    <a href='/products/updateProduct?productId={{product.productId}}' class="button is-primary is-rounded" name="productId">Update</a>
                    <a href="/selection" class="button is-primary is-rounded">Continue shopping</a>
                    <form action="/products/deleteProduct/" method="POST">
                        <input type="hidden" value="{{product.productId}}" name="productId">
                        <input type="submit" class="button is-primary is-rounded" value="Delete">
                    </form>
                    <form>
                        <input type="submit" class="button is-primary is-rounded" value="Add to basket">
                    </form>
                {{else}}
                    {{#if isLoggedIn}}
                        <a href="/orders/addProductToBasket" class="button is-primary is-rounded">Add to basket</a>
                    {{/if}}
                    <a href="/selection" class="button is-primary is-rounded">Continue shopping</a>
                {{/if}}
            </div>
            <figure class="image is-4by3">
                <img src="/uploads/{{product.productImage}}">
            </figure>
        </article>
    </div>
</div>